/*
0-600px: Phone
600-900px: Table landscape
1200 - 1800 is where our normal styles apply
1800px +: Big desktop


$breakpoint argument choices:
-Phone
-Tab-port
-Tab - land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Nunito:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font size 10px, we use percentages for accesabilty purposes, 
  since some people increase the font size of their browser */
  font-size: 62.5%;
}
@media only screen and (min-width: 112em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  /* box sizing property not inherited automatically, so we set all selectors to inherit this declared value  */
  box-sizing: border-box;
  padding: 9rem 6rem;
  background-color: #f7f7f7;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 6rem 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 4rem 2rem;
    margin: 0;
    overflow-x: hidden;
  }
}

body {
  color: #999;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  color: #3a3a3a;
  font-family: "Lexend Tera", sans-serif;
  font-size: 2.4rem;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 6rem !important;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
}
.hidden .grid {
  gap: 0;
}
.hidden .grid__content {
  height: 0 !important;
  margin: 0;
}
.hidden .portfolio-image {
  height: 0 !important;
  margin: 0;
}

.active {
  text-decoration: line-through !important;
}

.header {
  position: fixed;
}
@media only screen and (max-width: 37.5em) {
  .header {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
  }
}
.header .nav__list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .header .nav__list {
    flex-direction: row;
    justify-content: center;
  }
}
.header .nav__link:link, .header .nav__link:visited {
  position: relative;
  color: #777;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  overflow: hidden;
}
.header .nav__link:link::before, .header .nav__link:visited::before {
  content: "";
  position: absolute;
  top: 45%;
  left: -100%;
  width: 0;
  height: 1px;
  opacity: 0;
  background-color: #777;
  transition: all 0.4s ease;
}
.header .nav__link:link:not(.active):hover:before, .header .nav__link:visited:not(.active):hover:before {
  width: 100%;
  left: 0;
  opacity: 1;
}
.header .nav__social-links {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .header .nav__social-links {
    justify-content: center;
  }
}
.header .nav__social-link:link, .header .nav__social-link:visited {
  position: relative;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 50%;
}
.header .nav__social-link:link::before, .header .nav__social-link:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  transform: scale(0);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.header .nav__social-link:hover::before {
  transform: scale(1);
}
.header .nav__social-icon {
  font-size: 1rem;
}
.header .nav__copyright {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.1rem;
}

.grid {
  max-width: 107.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  padding-right: 6rem;
  padding-bottom: 9rem;
  height: 100%;
}
@media only screen and (max-width: 37.5em) {
  .grid {
    padding-right: 0;
    padding-bottom: 3rem;
    gap: 2rem;
  }
}
.grid__content {
  height: 100%;
}
.grid .col-1-span-3 {
  grid-column: 1/span 3;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-1-span-3 {
    grid-column: 1/span 6;
  }
}
.grid .col-1-span-4 {
  grid-column: 1/span 4;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-1-span-4 {
    grid-column: 1/-1;
  }
}
.grid .col-1-span-6 {
  grid-column: 1/span 6;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-1-span-6 {
    grid-column: 1/-1;
  }
}
.grid .col-1-span-7 {
  grid-column: 1/span 7;
}
.grid .col-1-span-8 {
  grid-column: 1/span 8;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-1-span-8 {
    grid-column: 1/-1;
  }
}
.grid .col-1-span-12 {
  grid-column: 1/-1;
}
.grid .col-4-span-3 {
  grid-column: 4/span 3;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-4-span-3 {
    grid-column: 7/span 6;
  }
}
.grid .col-5-span-8 {
  grid-column: 5/span 8;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-5-span-8 {
    grid-column: 1/-1;
  }
}
.grid .col-5-span-4 {
  grid-column: 5/span 4;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-5-span-4 {
    grid-column: 1/-1;
  }
}
.grid .col-7-span-3 {
  grid-column: 7/span 3;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-7-span-3 {
    grid-column: 1/span 6;
  }
}
.grid .col-7-span-6 {
  grid-column: 7/span 6;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-7-span-6 {
    grid-column: 1/-1;
  }
}
.grid .col-8-span-5 {
  grid-column: 8/span 5;
}
.grid .col-9-span-4 {
  grid-column: 9/span 4;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-9-span-4 {
    grid-column: 1/-1;
  }
}
.grid .col-10-span-3 {
  grid-column: 10/span 3;
}
@media only screen and (max-width: 37.5em) {
  .grid .col-10-span-3 {
    grid-column: 7/span 6;
  }
}
.grid .row-1-span-2 {
  grid-row: 1/span 2;
}

body {
  position: relative;
  max-height: 1200px;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 2rem 4rem rgba(58, 58, 58, 0.15);
  transition: transform 1s, opacity 1s;
}

.editorials,
.collections,
.prints,
.research {
  position: absolute;
  left: 30.5rem;
  opacity: 1;
  visibility: visible;
  transition: all 1s ease-out;
}
@media only screen and (min-width: 112em) {
  .editorials,
.collections,
.prints,
.research {
    left: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .editorials,
.collections,
.prints,
.research {
    left: 29rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .editorials,
.collections,
.prints,
.research {
    position: relative;
    left: 0;
  }
}

.preloader {
  background: #3a3a3a;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 1s;
}
.preloader .hidden {
  opacity: 0;
  pointer-events: none;
  animation: fade-out 1s;
}
.preloader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.preloader__letter {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Lexend Tera", sans-serif;
}
.preloader__letter:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.preloader__letter:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.preloader__letter:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.preloader__letter:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.preloader__letter:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.preloader__letter:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.preloader__letter:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(3px);
  }
}

/*# sourceMappingURL=style.css.map */
