.header {
  position: fixed;
  @include respond(phone) {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
  }
  .nav {
    &__list {
      list-style: none;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include respond(phone) {
        flex-direction: row;
        justify-content: center;
      }
    }
    &__link {
      &:link,
      &:visited {
        position: relative;
        color: $color-grey-dark-1;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 1px;
        overflow: hidden;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          width: 50%;
          height: 1px;
          opacity: 0;
          background-color: $color-grey-dark-1;
          transition: all 0.5s ease-in-out;
        }
        &::after {
          left: 50%;
        }
        &::before {
          left: 0;
        }
        &:not(.active):hover::before,
        &:not(.active):hover:after {
          top: 46%;
          opacity: 1;
        }
      }
    }
    &__social-links {
      display: flex;
      gap: 1rem;
      @include respond(phone) {
        justify-content: center;
      }
    }
    &__social-link {
      &:link,
      &:visited {
        position: relative;
        color: $color-grey-dark-1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        border: 1px solid $color-grey-light-2;
        border-radius: 50%;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-grey-light-2;
          transform: scale(0);

          border-radius: 50%;
          z-index: -1;

          transition: all 0.3s ease-in-out;
        }
      }
      &:hover::before {
        transform: scale(1);
      }
    }
    &__social-icon {
      font-size: 1rem;
    }
    &__copyright {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 1.1rem;
    }
  }
}
