.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(phone) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-large {
  margin-bottom: 6rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-large {
  margin-top: 8rem !important;
}

.hidden {
  opacity: 0 !important;
  // display: none;
  visibility: hidden !important;
  height: 0 !important;
  & .grid {
    gap: 0;
  }
  & .grid__content {
    height: 0 !important;
    margin: 0;
  }
  & .portfolio-image {
    height: 0 !important;
    margin: 0;
  }
}
.active {
  text-decoration: line-through !important;
  &:hover {
  }
}
