.portfolio-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.15);
}
.editorials {
  opacity: 1;
  transition: all 1s ease-in-out;
  visibility: visible;
}
.collections {
  opacity: 1;
  transition: all 1s ease-in-out;
  visibility: visible;
}
