.portfolio-image {
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.15);
}
.editorials {
  transition: all 1s ease-in-out;
}
.collections {
  transition: all 1s ease-in-out;
}
